body {
	background-color:#EBEBEB;
}

hr {
	margin-bottom:30px;
}

.tablecell {
	float:left;
	margin:25px;
}

.imagecell {
	height:250px;
	width:250px;
	border-style:solid;
	border-width:2px;
}

.tableheader {
	font-size:16px;
    font-weight:bold;
    width:800px;
}

.tableparent {
	width:80%;
	margin-left:auto;
	margin-right:auto;	
}

.tablecontainer {
	width:100%;
}

.ignlogo {
	background-image:url(/images/ign_logo.png);
   	height:102px;
   	width:324px;
   	display:block;
   	text-indent:-9999px;

}

.projectheader {
	font-size:25px;
	font-weight:bold;
	text-align:center;
}

.clear:after{clear:both;content:".";display:block;height:0;visibility:hidden}
.clear{*display:inline-block}
.clear{*zoom:1;*display:block}

.right {
	position:absolute;
	right:0px;
	width:300px;
}

.center {
	margin-left:auto;
	margin-right:auto;
	width:70%;
}