<script type="text/javascript">
	function showDiv() {
    	document.getElementById('welcomeDiv').style.display = "block";
	}
</script>





<div id="welcomeDiv"  style="display:none;" class="answer_list" > WELCOME</div>
<input type="radio" name="answer" value="Show Div" onclick="showDiv()" />





<% @status.each do |status| %>
	<!-- ><form class="custom">
  	  <fieldset>
        <legend><%= status[:system]%></legend>
		<label>Status</label>

		  <label for="radio1">
		    <input name="radio1" type="radio" id="radio1" style="display:none;">
		    <span class="custom radio"></span> Normal
		  </label>
		  <label for="radio1">
		    <input name="radio1" type="radio" id="radio1" style="display:none;">
		    <span class="custom radio"></span> Partial Outage
		  </label>
		  <label for="radio1">
		    <input name="radio1" type="radio" id="radio1" style="display:none;">
		    <span class="custom radio"></span> Severe Outage
		  </label>
	
	    </br>
   	    <label>Outage Description</label>
    	<input type="text" placeholder="A description of the outage...">
 	 </fieldset>
	</form> -->
<% end %>
